<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<H2>Welcome to BuildIt!</H2>

<a href="/poCheck.html">Check Purchase Order</a>
<a href="/phrModify.html">Modify Existing Plant Hire Request</a>


<a href="/phrCreate.html">Create Plant Hire Request</a>
<a href="/phrCancel.html">Cancel Plant Hire Request</a>
<a href="/phrCheck.html">Check Plant Hire Request Status</a>

</body>
</html>